@font-face {
    font-family:myfont;
    src:url("/static/css/iconfont.ttf");
 }
/*个人中心*/
.myhead {
    width:84px;
    height:84px;
    margin-top: -80%;
    margin-left: 35%;
    background-image: url("../img/userpic.jpg");
    background-size: 90% 90%;
    border-radius:50%
}
.mycenter{
    width:100px;
    height:100px;
    margin-top: 16px;
    margin-left: 78%;
    background-color: transparent;
}

.page_ctrl{

    text-align: center;

    margin-left: 300px;

    box-sizing: border-box;
}

.page_ctrl *{

    line-height: 26px;
}

.page_ctrl button{

    margin:0 3px;

    min-width:30px;

    background: #ffffff;

    border: 1px solid #e5e5e5;

    color: #5e5e5e;

    cursor: pointer;

    outline: none;

    text-align: center;

}

.page_ctrl button:hover{

    background: #0eb0d2;

    color: #ffffff;

}

.page_ctrl .btn_dis{

    cursor: default;

    opacity: .7;

    background: #eeeeee;

    color: #5e5e5e;

}

.page_ctrl .btn_dis:hover{

    background: #eeeeee;

    color: #5e5e5e;

}

.page_ctrl .current_page{

    background: #0eb0d2;

    color: #ffffff;

}

.page_ctrl .input_page_num{
    width:30px;

    height: 26px;

    margin:0 3px;

    padding: 0;

    text-align: center;

    background: #ffffff;

    border: 1px solid #e5e5e5;

    color: #5e5e5e;

    outline: none;

}

.page_ctrl .page_total,.page_ctrl .page_text{

    color: #2b2b2b;

    font-size: 13px;

}
/*主面板样式*/
#container {
    width:100%;
    margin:0px auto;/*主面板DIV居中*/
}
/*搜索面板样式*/
#header {
    width:100%;
    height:110px;
    /*border:1px #F00 solid;*/
    background-image: url("../img/bc.jpg");
}
/*电影分类面板样式*/
#classfiy {
    width:100%;
    height:340px;
    border:1px #E6E6E6 solid;
    /*background-color: whitesmoke;*/
}
.classfiy_1 {
    display:inline-block;
    margin-top:15px;
    margin-left: 200px;
    margin-right: 50px;
}
.classfiy_2 {
    width: 1100px;
    height: 50px;
    /*margin-left: 100px;*/
    /*background-color: blueviolet;*/
    float: left;
}
/*TOP榜部分面板样式*/
#main {
    width:100%;
    /*border:1px #F00 solid;*/
}
#medium_title {
    color:black;
    font-family: myfont;
    font-size: 40px;
    margin-left: 300px;
    margin-top: 20px;
    margin-right: 30px;
}

/*电影名称样式*/
#title {
    color:black;
    font-family: myfont;
    text-align:right;
    margin-top: 15px;
    margin-right: 30px;
    color: steelblue;
}
/*布局*/
.title {
    float:left;
    width:40%;
    height:70%;
    /*background-color: whitesmoke;*/
    margin-top: 23px;
}
.search {
    float:left;
    width:60%;
    height:100%;
    /*background-color: white;*/
    margin-top: 25px;
}
.sidebar {
    float:left;
    width:30%;
    height:100%;
}
.content {
    float:left;
    width:70%;
    height:100%;
    /*background-color: palegreen;*/
}
.cat {
    float:left;
    width:0%;
    height:100%;
    /*background-color: bisque;*/
}
/**/

/*搜索框*/
* {
    margin: 0;
    padding: 0;
}
.container {
    height: 70px;
    width: 800px;
    margin: 10px auto 0 auto;
}
.parent {
    position: relative;
}
.search {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
    margin-top: 33px;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("../img/search.png") no-repeat -2px -99px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    /*background-color: black;*/
    margin-left: 240px;
}
/**/

/*介绍（右）*/
.p_right {
    width: 250px;
    margin-left: 30px;
    margin-top: 80px;
    font-family: myfont;
    font-size: 15px;
}

/*广告（右）*/
.ad_right {
    width: 250px;
    height: 200px;
    margin-left: 30px;
    margin-top: 45px;
}

/*电影海报*/
.picture {
    float:left;
    width:18%;
    height:200px;
    margin-left: 0px;
    margin-top: 45px;
}

/*电影介绍*/
.instroction {
    float:left;
    width: 70%;
    height: 200px;
    margin-left: 15px;
    margin-top: 45px;
    font-family: myfont;
}

/*电影排名*/
.rank {
    float:left;
    width:20px;
    height:20px;
    margin-left: 40px;
    margin-top: 45px;
}

/*电影logo*/
.logo {
    float: right;
    width: 100px;
    height: 100px;
    background-color: #1c8bd0;
    /*margin-right: 450px;*/
    /*margin-top: 0px;*/
}

/*加载更多*/
.btn_local {
    /*position:fixed;*/
    bottom:0px;
    z-index:99999;
    width: 300px;
    height: 35px;
    text-align:center;
    margin-left: 630px;
    /*background-color: pink;*/
}
.btn_div { /* 按钮美化 */
	width: 180px; /* 宽度 */
	height: 30px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #999999; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 14px; /* 字体大小 */
}
.btn_div:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #808080;
}