<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="../statics/css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../statics/css/style.css" />
	</head>

	<body>
		<div class="header">
			<div class="bar">
				<div class="w1200">
					<span class="l">树懒电影<font>个人中心</font></span>
					<span class="r"><a href="http://localhost:63342/douban/HomePage.html?_ijt=9vjp8mfkb8elopj4raefn3s6n5"><i class="icon iconfont icon-dianyuan"></i>退出</a></span>
				</div>
			</div>
			<div class="user-info">
				<div class="w1200">
					<div class="user-headface">
						<img src="../statics/images/user_face.jpg"/>
					</div>
					<div class="user-account">
						<p class="tip">你好，XXX</p>
						<p class="account">
							<span>昵称：章英杰</span>
							<span>用户ID：2931890089</span>
						</p>
					</div>
					<div class="user-modify">
						<a href="http://localhost:63342/MovieTop/templates/revise.html?_ijt=7un76ve0cq6gedopm6vvsf6vmq">修改资料></a>
					</div>
				</div>
			</div>
		</div>
		<div class="main w1200">
			<div class="left">
				<ul>
					<li>
						<a href="#" class="active">
							<i class="icon iconfont icon-lingdang"></i>
							消息
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-fangzidichan"></i>
							收藏
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-wenda"></i>
							问答
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-pinglun"></i>
							评论
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon iconfont icon-geren"></i>
							个人资料
						</a>
					</li>
				</ul>
			</div>
			<div class="right">
				<div class="tap">
					<span>系统消息</span>
				</div>
				<div class="container">
					<div class="no-doc">
						<img src="../statics/images/no_doc.jpg"/>
						<p>您还没有消息哦~</p>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>