<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">
    <title>Title</title>
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>树懒电影</title>
    <link rel="stylesheet" href="../static/css/show.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/table.css" type="text/css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/show.js"></script>
    <script src="../static/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<div id="container">
    <!--主页面头部-->
    <div id="header">
        <!--电影logo
        <div class="logo">
            <img src=".\img\logo.png" height="100px" width="100px" />
        </div>
        -->
        <div class="title"><h1 id="title">树懒电影</h1></div>
        <div class="container">
            <form action="#" class="parent">
                <input type="text" class="search" placeholder="电影名称，主演">
                <input type="submit" name="" id=""  value="" class="btn">
            </form>
        </div>
        <div class="mycenter"><input class="myhead" type="button" value="" id="head_picture"></div>
        <!--头像超链接到个人信息页面-->
        <script>
        var head_picture=document.getElementById("head_picture")
         head_picture.onclick=function(){
            window.open("/user_pager",'_blank')
         }
        </script>
    </div>
    <!-- ############################################################### -->
    <!--电影分类-->
    <div id="classfiy">
        <aside>
            <div class="classfiy_1">
            <i>类型:</i>
            <div class="classfiy_2">
                <span>全部</span>
                <span>剧情</span>
                <span>喜剧</span>
                <span>动作</span>
                <span>爱情</span>
                <span>惊悚</span>
                <span>犯罪</span>
                <span>悬疑</span>
                <span>战争</span>
                <span>科幻</span>
                <span>动画</span>
                <span>恐怖</span>
                <span>家庭</span>
                <span>传记</span>
                <span>冒险</span>
                <span>奇幻</span>
                <span>武侠</span>
                <span>历史</span>
            </div>
            </div>
        </aside>
        <aside>
            <div class="classfiy_1">
            <i>年份:</i>
            <div class="classfiy_2">
                <span>全部</span>
                <span>2021</span>
                <span>2020</span>
                <span>2019</span>
                <span>2018</span>
                <span>2017</span>
                <span>2016</span>
                <span>2015</span>
                <span>2014</span>
                <span>2013</span>
                <span>2012</span>
                <span>2011</span>
                <span>2010</span>
            </div>
            </div>
        </aside>
        <aside>
            <div class="classfiy_1">
            <i>地区:</i>
            <div class="classfiy_2">
                <span>全部</span>
                <span>中国</span>
                <span>香港</span>
                <span>美国</span>
                <span>台湾</span>
                <span>日本</span>
                <span>韩国</span>
                <span>印度</span>
                <span>泰国</span>
                <span>英国</span>
                <span>法国</span>
                <span>德国</span>
                <span>加拿大</span>
                <span>西班牙</span>
                <span>意大利</span>
                <span>澳大利亚</span>
            </div>
            </div>
        </aside>
        <aside>
            <div class="classfiy_1">
            <i>排列顺序:</i>
            <div class="classfiy_2">
                <span>热门(正序)</span>
                <span>评分(正序)</span>
                <span>热门(倒序)</span>
                <span>评分(倒序)</span>
                <span>时间(正序)</span>
                <span>时间(倒序)</span>
            </div>
            </div>
        </aside>
        <div class="last">已选择:
            <div id="yi"></div>
        </div>
        <!-- ############################################################### -->
    </div>
    <!--电影分类模块结束-->
    <div id="main">
        <div class="cat"></div>
        <div class="content">
            <ul style="width: 100%;margin-left:300px; list-style: none" class="ul_show">
            </ul>
        </div>
    </div>
    <div class="btn_local">
        <button id="json_more" class="btn_div">加载更多</button>
    </div>
</div>
<!--电影热播榜-->
<div class="sidebar"></div>
<div class="lunbo_div">
        <div>
            <img class="cup" src="../static/img/cup.png" />
            <span class="today_title">电影TOP100</span><br/>
        </div>
        <div id="bm_content" class="bm_content">
            <table class="table table-condensed ">
                <thead style="position: fixed; background-color: #eeeeee; ">
                    <tr>
                        <th style=" width: 80px; text-align: center;">电影名</th>
                        <th style="width: 80px; text-align: center;">评分</th>
                        <th style=" width: 80px; padding-right: 10px;">排名</th>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
                <tbody id="tb2"></tbody>
            </table>
        </div>
</div>
</body>
</html>